<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link href="./css/output.css" rel="stylesheet">-->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" />
  <script src="https://cdn.tailwindcss.com/3.3.0"></script>
  <script>
    tailwind.config = {
      darkMode: "class",
      theme: {
        fontFamily: {
          sans: ["Roboto", "sans-serif"],
          body: ["Roboto", "sans-serif"],
          mono: ["ui-monospace", "monospace"],
        },
      },
      corePlugins: {
        preflight: false,
      },
    };
  </script>
  <link rel="icon" type="image/x-icon" href="./assets/images/icons8-potted-plant-windows-11-color-16.png">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <title>Plant Parenthood</title>
</head>

<body class="bg-[#e8f2ca] text-green-900  flex flex-row flex-wrap justify-center">
  <main class="max-w-6xl">
    <div class="flex flex-col min-h-screen bg-[#e8f2ca]">
      <!-- header -->
      <header class="sticky top-0 flex justify-between flex-row flex-wrap text-center px-4 bg-[#e8f2ca]">
        <!-- left nav -->
        <nav class="flex flex-row flex-wrap">
          <a href="/"><button class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-leaf-48.png"
                alt="A dark green leaf icon">Plants</button></a>

        </nav>
        <!-- Title -->
        <h3 class="font-normal text-4xl p-1">Plant Parenthoood</h3>
        <!-- right nav -->
        <nav class="flex flex-row text-center">
          {{!-- buttons with icon and text on same line - needs text alignment fix
          <button class="flex flex-row flex-wrap p-4 text-center"><img class="h-6 m-auto pr-1"
              src="./assets/images/icons8-login-48.png"
              alt="A dark green login icon represented by an arrow leading into a rounded square">Login</button>
          <button class="flex flex-row flex-wrap p-4 text-center"><img class="h-6 m-auto pr-1"
              src="./assets/images/icons8-search-48.png"
              alt="A dark green search icon represented by a magnifying glass">Search</button>
          --}}
          {{!--
          if the user is logged in, display the profile btn and nav to profile on click
          THIS IS NOT BEHAVING AS EXPECTED AND NEEDS INVESTIGATION ON ALL VIEWS -Charles
          --}}
          {{#if logged_in}}
          <a href="/login"><button class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-account-48.png"
                alt="A dark green login icon represented by an arrow leading into a rounded square">Account</button>
          </a>
          {{else}}
          <a href="/profile"><button class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-login-48.png"
                alt="A dark green login icon represented by an arrow leading into a rounded square">Login</button>
          </a>
          {{/if}}
          <div id="search" class="hidden rounded-lg bg-[#B7D55D] px-2 py-1">
            <input id="searchBar" type="text" class="h-full w-96 p-2" value="" placeholder="Search for plants">
          </div>
          <button id="searchBtn" class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-search-48.png"
              alt="A dark green search icon represented by a magnifying glass">Search</button>

        </nav>
      </header>
      {{!--
      {{{body}}} will be the part of the page that updates when users nav to new views
      for instance when landing on the site for the first time, {{{body}}} will be the contents of
      homepage.handlebars

      When users click on a plant in the gride displayed on homepage view, {{{body}}} will be the contents of
      plant.handlebars with the associated relevant data - Charles
      --}}
      {{{body}}}
    </div>
    {{!-- footer --}}
    <footer class="h-32 w-full max-w-6xl mt-auto bg-cover rounded-t-lg bg-bottom bg-[url('./assets/images/forrest-log.jpg')] text-yellow-200">
      <div class="p-4">
        <div class="text-xs">Plant Parenthood © 2024</div>
        {{!-- ICONS ATTRIBUTION NEEDS ATTENTION!!!!!! -Charles --}}
        <div class="text-[0.5em]">Icons provided by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
      </div>
    </footer>
    <script>
      // jQuery to add the click event to searchBtn with toggleSearchHide as the handler
      $('#searchBtn').on('click', toggleSearchHide);
    </script>
    {{!--
    search js to link search results and population section.

    Should we port the functions from imageGrid.js to search.js?
    imageGrid.js is being used by two views, but both of those views
    will also utilize search.js - Charles
    --}}
  </main>
</body>
<script src="./js/search.js"></script>

</html>