<!DOCTYPE html>
<html lang="en">

<body class="bg-[url('./assets/images/forrest-log.jpg') text-green-900 max-w-screen-xl [&_*]:max-w-screen-xl">
  <div class="flex flex-col min-h-screen bg-[#e8f2ca]">

    <main class='w-full flex flex-row flex-wrap justify-center items-center'>
      <!-- banner for homepage -->
      <div class="w-full max-w-screen-xl px-4 ">
        <div
          class="rounded-lg h-52 w-fullbg-center bg-cover bg-[url('./assets/images/forrest-log.jpg')] text-yellow-200">
          <div class="w-full filter-none p-4 text-5xl">All Plants</div>
        </div>
      </div>
      <!-- sort -->


      <!-- search sort card -->
      <div class="w-full flex justify-center">
         <button id="filterBtn" class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-filter-48.png"
            alt="A dark green login icon represented by an arrow leading into a rounded square">Sort</button>
            </div>
      <div id="filter" class="w-full max-w-screen-xl flex flex-row flex-wrap justify-center items-center px-4">

        <div class="w-fit flex flex-row flex-wrap rounded-lg bg-[#B7D55D] p-2">
          <!--<input type="checkbox" class="px-4" id="cycleFilter" value="Cycle"><label for="cycleFilter"
            class="px-2">Cycle</label>-->
          <!-- <input type="checkbox" class="px-4" id="wateringFilter" value="Watering"><label for="wateringFilter"
            class="px-2">Watering</label>
-->
          <button class="px-4 flex " id="sortAZ">Sort<img src="./assets/images/icons8-sort-48.png" class="px-2 h-6">
          </button>
          <button class="px-4 flex  " id="sortZA">Sort<img src="./assets/images/icons8-sort-alpha-up-48.png"
              class="px-2 h-6">
          </button>

        </div>

      </div>
      <div id="pageInfo"
        class="flex flex-row flex-wrap justify-center items-center w-full max-w-screen-xl h-12 bg-green-900/90 [&_*]:p-2 text-white text-xl text-center mb-2 rounded-lg"
        currentPage={{pageData.currentPage}} totalPages="{{pageData.totalPages}}">
        <button id="prevBtn">Prev</button>
        <h3>{{pageData.currentPage}} / {{pageData.totalPages}}</h3>
        <button id="nextBtn">Next</button>
      </div>


      <!-- results grid -->
      <div id="resultsGrid"
        class=" grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-1 p-4  max-w-screen-xl bg-lime-200/50 rounded-lg ">
        {{#each plants as |plant|}}
        {{#if plant.regular_url}}
        <div id="{{plant.id}}" name="{{collection.common_name}}"
          class="border-4 border-green-900 border-solid rounded-xl bg-[#BFD872] flex flex-wrap justify-center h-fit
           transition ease-in duration-300 hover:translate-y-2 hover:scale-[105%] antialiased hover:subpixel-antialiased hover:drop-shadow-2xl hover:shadow-2xl hover:[&_*]-block group/{{plant.id}}">
          <img id="plantImg" name="{{plant.id}}" class="rounded-b-md rounded-t-lg" src={{plant.regular_url}}
            alt="Image of {{plant.common_name}}" />
          <div class="w-full flex flex-row flex-wrap justify-start text-center">
            <div
              class="w-full group-hover:px-1 group-hover:pt-1 p-1 text-sm font-bold capitalize group-hover/{{plant.id}}:transition-all ease-in-out duration-300 group-hover/{{plant.id}}:text-lg group-hover/{{plant.id}}:text-center">
              {{plant.common_name}}
            </div>
          </div>
          <table id='plantTable{{plant.id}}'
            class="table-auto text-[.8em] hidden group-hover/{{plant.id}}:transition-all ease-out-in duration-300 group-hover/{{plant.id}}:flex text-center px-1 pb-2 rounded-lg hover:transition-all ease-in duration-200 hover:scale-[103%] ">
            <tr class="">
              <th class="w-fit bg-lime-100 rounded-tl-lg ">Cycle 🌱</th>
              <th class="w-fit bg-lime-100 ">Water 💧</th>
              <th class="w-fit bg-lime-100 rounded-tr-md ">Sun 🌞</th>
            </tr>
            <tr></tr>
            <tr class="">
              <td class="bg-lime-200 rounded-bl-lg ">{{plant.cycle}}</td>
              <td class="bg-lime-200  ">{{plant.watering}}</td>
              <td class="bg-lime-200 rounded-br-md ">{{plant.sunlight}}</td>
            </tr>

          </table>
        </div>

        {{/if}}
        {{/each}}



      </div>

      <div id="pageInfo"
        class="flex flex-row flex-wrap justify-center items-center w-full max-w-screen-xl h-12 bg-green-900/90 [&_*]:p-2 text-white text-xl text-center mb-2 rounded-lg"
        currentPage={{pageData.currentPage}} totalPages="{{pageData.totalPages}}">
        <button id="prevBtn">Prev</button>
        <h3>{{pageData.currentPage}} / {{pageData.totalPages}}</h3>
        <button id="nextBtn">Next</button>
      </div>
    </main>

  </div>
</body>
{{!--
search js to link search results and population section
search.js not here when writing comments, could this be source of bad behvaior? -Charles
--}}

<script>

  // jQuery to add the click event to filterBtn with toggleFilterHide as the handler
  $(() => {
    $('#filter').hide();
    $('#filterBtn').on('click', toggleFilterHide);
  })
</script>
<script src="./js/imageGrid.js"></script>
<script src="./js/pagination.js"></script>

</html>