<main class='w-full flex flex-row flex-wrap justify-center items-center'>



  <!-- banner for profile -->
  <div class="w-full px-4 ">
    <div class="rounded-lg h-52 w-full bg-center bg-cover bg-[url({{original_url}})] text-yellow-200">
      <div class="w-full filter-none p-4 text-5xl">{{common_name}}</div>
      <div class="text 3xl pl-8 w-full">or</div>
      <div class="w-full filter-none p-4 text-5xl">{{scientific_name}}</div>
    </div>
  </div>

  <div class="row mt-4 w-full flex flex-row flex-wrap justify-center rounded-lg p-10">
    <img class="rounded-lg" src="{{original_url}}" alt="Image of {{common_name}}">
    <div class="p-2">
      <div>Cycle:{{cycle}}</div>

      <div>Watering:{{watering}}</div>
      
      <div>Sunlight:{{sunlight}}</div>

 {{!-- added button to allow for updating collection --}}
      <button class="p-2" type='submit'><img class="h-8 m-auto" src="./assets/images/icons8-save-48.png"
          alt="A dark green save icon">Add to Collection</button>
    </div>

  </div>
</main>
<script src="../public/js/addToCollection.js"></script>